body{
    background-color: rgb(124, 187, 245);
    display: flex;
   
}
.container{
    display: block;
    margin: 50px auto;
    border: 2px solid gray;
    background-color: white;
    width: 400px;
    height: 250px;
    border-radius: 12px;
    padding: 10px;
}
 div{
    display: flex;
    justify-content: center;
    font-size: 17px;
    margin-top: 22px;
} 
input{
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(237, 236, 236);
    width: 150px;

}
h2{
    display: flex;
    justify-content: center;
}
label{
    font-size: 20px;
    padding: 0px 5px;
}
#btn{
    width: 80px;
    height: 27px;
    background-color: rgb(191, 220, 243);
}
